<!DOCTYPE html>
<html style="width:100%;height:100%;">
<head>
	<meta charset="utf-8">
	<title>全屏背景登录模板</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="./css/index.css" type="text/css" />
	<script src="./js/jquery.min.js"></script>
	
</head>
	<body>
		<div class="logo">
			<img src="img/logo.png">
		</div>
		<div class="main">
			<div class="nav">
				<div class="left">
					<div class="title">验证码登录</div>
					<div class="inp-nav">
						<div class="inp-v">
							<div class="phone1">+86</div>
							<input type="text" class="inp1" value="" placeholder="手机号">
						</div>
						<div class="inp-v">
							<input type="text" class="inp2" value="" placeholder="手机号">
							<div class="yzm">获取验证码</div>
						</div>
						<div class="tis">
							<a>登录即同意</a>
							<a>《用户协议》</a>
							<a>和</a>
							<a>《隐私政策》</a>
						</div>
						<div class="dl">登录</div>
					</div>
				</div>
				<div class="center"></div>
				<div class="right">
					<div class="saoma">扫码登录</div>
					<div class="ewm">
						<img src="https://bj.bcebos.com/qr-code/24091211c5d8570d91e7.jpg">
					</div>
					<div class="djgh">点击更换</div>
				</div>
			</div>
			<div class="bottom">
				<div class="left2">
					<div class="left2-v">
						<img src="img/douyin.png">
						<div class="value">抖音登录</div>
					</div>
					<div class="left2-v">
						<img src="img/WeChat.png">
						<div class="value">微信登录</div>
					</div>
					<div class="left2-v">
						<img src="img/qq.png">
						<div class="value">QQ登录</div>
					</div>
					<div class="left2-v">
						<img src="img/anquan.png">
						<div class="value">密码登录</div>
					</div>
				</div>
				<div class="right2">登录遇到问题?</div>
			</div>
		</div>
	</body>
</html>